name: Deploy Backend to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          set -e
          mkdir -p ~/app
          cd ~/app

          if [ ! -d "baatapp-backend" ]; then
            git clone https://github.com/AadiDhanwa/baatapp-backend.git
          fi

          cd baatapp-backend
          git pull
          pkill -f app.py || true
          nohup python3 app.py > log.txt 2>&1 &
